* {
    padding:0;
}

.razesLabels {
    display: inline-block;
    width: 100px;
    height: 100px;
    justify-content: center;
    box-sizing: border-box;
}

.razesLabels img {
    width: 100px;
    height: 100px;
}

/* #humanLabel {
   background-image: url("../../img/humanfemale.png");
   background-size: cover; 
}

#elfLabel {
    background-image: url("../../img/elffemale.png");
    background-size: cover; 
 }

 #orcLabel {
    background-image: url("../../img/orcfemale.png");
    background-size: cover; 
 }

 #dwarfLabel {
    background-image: url("../../img/dwarffemale.png");
    background-size: cover; 
 } */